{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
	<title>The Schedulizer | About</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Cagliostro' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />		
	<link rel="stylesheet" type="text/css" href="{% static 'css/result.css' %}"/>
		<link type="text/css" rel="stylesheet" href="{% static 'css/table.css' %}" />
		<!--start lightbox -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.lightbox.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
		<script src="{% static 'js/jquery.min.js' %}"></script>
		<script src="{% static 'js/jquery.lightbox.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
	  <script src="{% static 'js/jquery.min.js' %}"></script>
	  <script src="{% static 'js/jquery-ui.js' %}"></script>
</head>
<body>
<div class="wrap">
<div class="wrapper">
<div class="logo">
	<a href="main.html"><h1>Schedulizer</h1></a>
</div>
<div class="header_right">
	<div class="cssmenu">
		<ul>
		  	<li><a href="{% url 'main' %}"><span>Home</span></a></li>
            <li><a href="{% url 'about' %}"><span>About</span></a></li>
            <li><a href="{% url 'staff' %}"><span>Staff</span></a></li>
            <li class="has-sub"><a href="{% url 'service' %}"><span>Services</span></a></li>
            <li class="last"><a href="{% url 'contact' %}"><span>Contact</span></a></li>
            <div class="clear"></div>
		 </ul>
	</div>
</div>
	<div class="clear"></div>
</div>
</div>
<div class="main_bg">
<div class="wrap">
<div class="wrapper">
	<div class="result">
		<div class="option" id="1" style="float:none">
			{% if courses %}
			<h2 class="style" style="text-align:center">Your Saved Schedule</h2>
			<table class="hovertable" style="margin:auto">
				<tr>
					<th>Subject</th><th>Course</th><th>Days</th><th>Time</th><th>CRN</th>
				</tr>
				{% for course in courses %}
				<tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#d4e3e5';">
					<td align="center">{{ course.subject_code }}</td>
					<td align="center">{{ course.course_number }}</td>
					<td align="center">{{ course.dates_given }}</td>
					<td align="center">{{ course.start_time }} - {{ course.end_time }}</td>
					<td align="center">{{ course.course_CRN }}</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<div style="margin:auto 20%">
			<h2 class="style" style="text-align:center">Oops!</h2>
			<p>Something went wrong with generating a schedule.</p>
			<p>Make sure you actually entered classes into the schedulizer, or <a href="{% url 'service' %}">try again</a> with a different set of classes and/or restriction.</p>
		</div>
			{% endif %}
		</div>
		
	</div>
</div>
</div>
</div>
<div class="wrap">
<div class="wrapper">
	<div class="footer">
		<div class="social-icons">
	   		  	<ul>
			      <li class="icon_1"><a href="#" target="_blank"> </a></li>
			      <li class="icon_2"><a href="#" target="_blank"> </a></li>
			      <li class="icon_3"><a href="#" target="_blank"> </a></li>
			      <li class="icon_4"><a href="#" target="_blank"> </a></li>
			      <div class="clear"></div>
		     </ul>
	   	 </div>
		<a href="main.html"><h2>Schedulizer</h2></a>
		<div class="copy">
			<p class="w3-link">© All Rights Reserved | Design by&nbsp; <a href="http://www.pages.drexel.edu/~thn42"> Tuan Nguyen</a></p>
		</div>
	</div>
</div>
<div class="clear"></div>
</div>
</body>
</html>